.prepend-3.span-18.append-3.append-bottom
  = semantic_form_for @user, :url => import_contacts_path do |f|
    = f.inputs do
      = f.input :email, :label => "Email Address"
      = f.input :email_password, :label => "Email Password"
      .clearer
    = f.buttons do
      = f.commit_button "Find Friends"